* {
    margin: 0;
    padding: 0;
}

body, html {
    background: #659acc;
	padding: 20px;
}


.search-bar{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #b0c9c5;
    height: 40px;
    padding: 3px;
    border-radius: 50px;
    

}
.search-bar:hover > .search-txt{
    width: 130px;
    padding: 0 6px;
    
}
.search-btn{
    color: #ffffff;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #424141;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(43, 43, 43);
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

/* .search-bar {
	position: relative;
    margin: 0 auto;
    width: 95%;
    max-width: 344px;
    height: 48px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

input {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 40px;
    left: 172px;
    margin: 4px 0;
    border: 0;
    border-radius: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
} */

/* ul#wrapper {
    list-style: none;
    display: inline-block;
    margin-top: 50px;
	text-align: center;
} */

ul#wrapper{
    list-style-type: none;
            padding: 0;
            margin-top: 10%;
            
}

/* li {
    width: 400px;
    height: 50px;
    background: #673ab7;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
} */

#wrapper a {
    border: 3px solid #66495c;
    border-radius: 15px;
    margin-top: 2px;
    background-color: ffd8a6;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
}
li a:hover:not(.header){
    background-color: #eee;
}
